.card_item_container{
    width: 219px;
    height: 326px;
    background-color: #5555;
    border-radius:12px;
    margin: 10px;
}
.card_item_container:hover{
    box-shadow: 3px 3px 8px 1px #464545;
}

.card_item_header{
    display: flex;
    width: 219px;
    height: 33px;
    border-radius: 12px;
    background: linear-gradient(135deg, red 40%, black 40%);
    align-items: center;
}
.background_red{
    color: azure;
}
.background_black{
    color: white;
}
.background_black p{
    margin-left: 30px;
}
.img_header{
    width: 20px;
    height: 20px;
}
.img_header img{
    width: 100%;

}
.card_item_img{
    width: 150px;
    height: 150px;
}
.card_item_background {
    display: flex;
    justify-content: center;
}

.card_item_img img{
    width: 100%;
}
.card_item_img:hover{
    transform: scale(1.1);
}
.card_item_detail{
    width: 167px;
    height: 83px;
    background:linear-gradient(90deg, #ACACAC 50%, white 50%) ;
    margin: 0 auto;
    display: flex;
    border-radius: 12px;
}
.detail_info{
    width: 50%;
    display: flex;
}
.left{
    display: flex;
    color: white;
    margin: 5px;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
}
.right{
    display: flex;
    color: red;
    margin: 5px;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.detail_exp{
    width: 50%;
    display: flex;
}
.detail_exp .left{
    color: black;
    display: flex;
    margin: 5px;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.detail_exp .right{
    width: 50%;
    color: red;
    
}
.card_item_btn_add{
    width: 30px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px ;
}
.card_item_btn_add img{
    width: 100%;
}
button{
    width: 30px;
    height: 29px;
    flex-shrink: 0;
    cursor: pointer;
        background: transparent;
        border: 1px solid #C3C0C0;
        outline: none;
        transition: 1s ease-in-out;
        border-radius: 50px;
}
button:hover{
    transition: 1s ease-in-out;
        background: #ffffff;
}
.card_item_container{
    margin-left: 10px;
}